@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

*, *::before, *::after {
    box-sizing: border-box;
  }

body{
    padding: 0;
    margin: 0;
    background-color: #2f303a;
    font-family: Poppins, sans-serif;
    font-size: 1.2rem;
    color: white;
    min-height: 100vh;
    overflow-x: hidden;
}

ul{
    list-style: none;
}

.full-height-container{
    display: flex;
    flex-direction: column;
}

.brand-logo {
    display: flex;
    align-items: center;
    font-size: 1.25em;
    color: inherit;
    text-decoration: none;

}
.brand-logo-name {
    margin-left: 1rem;
}

.main-nav ul, .main-footer ul{
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-nav a, .main-footer a{
        color: inherit;
        text-decoration: none;
        padding: 1rem;
}

.main-nav a:hover, .main-footer a:hover{
    color: #adadad;

} 

.main-header, .main-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main-header{
    height:140px;
}

.main-footer{
    height: 70px;
    background-color: #202027;
}

.social-link img{
    width: 1em;
    margin-right: .25rem;
}

.main-footer .container{
    display: flex;
    justify-content: space-between;
}

.container {
    /* max-width: 1200px; */
    /* margin: 0 auto; */
    padding: 0 40px;
    flex-grow: 1;
} 

.title {
    font-weight: 500;
    font-size: 3em;
    margin-bottom: 1rem;
    margin-top: 0;
  }
  
.subtitle {
    font-weight: 500;
    font-size: 1.2em;
    margin-bottom: 2rem;
  }
  
.btn {
    color: white;
    background-color: #1762A7;
    padding: .75rem 1.5rem;
    border-radius: .5rem;
    text-decoration: none;
    font-size: .9rem;
    outline: none;
    border: none;
    cursor: pointer;
  }
  
.btn:hover {
    background-color: #2180d8;
  }
  
.btn:focus {
    background-color: #2796ff;
  }

.GenrePick input, .MusicList input{
    visibility: hidden; 
    display:none;
}
/* continue disabled button style  */
#continue, #playlistAdd {
    background-color: #696a70;
    color: #525357;
    margin-bottom: 1rem;
  }

.GenreList label{
    background-color: rgb(23, 98, 167);
    width:80%;
    display:inline-block;
}

.GenrePick{
    width: 40%;
    margin: 0 auto;
    border-radius: 2rem;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #2E3852;
}

@media (max-width: 800px) {
    .GenrePick{
        width: 50%;
        }
}
@media (max-width: 650px) {
.GenrePick{
    width: 55%;
    }
}

@media (max-width: 520px) {
.GenrePick{
    width: 60%;
    }
}

@media (max-width: 462px) {
    .GenrePick{
        top: 64%;
    }
}

@media (max-width: 420px) {
.GenrePick{
    width: 70%;
    }
}
.GenrePick ul, .GenrePick .buttons{
    text-align: center;
    padding-left: 0px;
}

.GenreList{
    margin-top: 1rem;
}

.Welcome-text{
    text-align: center;
}
.Welcome-text .user{
    color:#4752bd;
    text-transform: capitalize;
}

/* explore page styling */

/* explore table width */
.Explorerr{
    width:100%
}
/* playlist table width */
.Explorerrr{
    width:120%
}

.Explorerr td, .Explorerrr td{
    text-align:left;
    white-space:nowrap
}

.Explorerr th, .Explorerrr th{
    text-align:left;
    color: #878bb5
}

table{
    border-spacing:15px;
}
