@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

*, *::before, *::after {
    box-sizing: border-box;
  }

body{
    padding: 0;
    margin: 0;
    background-color: #2f303a;
    font-family: Poppins, sans-serif;
    font-size: 1.2rem;
    color: white;
    min-height: 100vh;
    overflow-x: hidden;
}
@media (max-width: 500px) {
    .index-body{
        position: fixed;
        width: 100%;
    } 
    /* .explore-body{
        overflow-x: hidden;
        position: fixed;
        overflow-y: scroll;
    } */
}
.genre-body{
    overflow: hidden;  
}

ul{
    list-style: none;
}

.full-height-container{
    display: flex;
    flex-direction: column;
    overflow-x: hidden !important; 
}

.brand-logo {
    display: flex;
    align-items: center;
    font-size: 1.25em;
    color: inherit;
    text-decoration: none;

}
.brand-logo-name {
    margin-left: 1rem;
}

.main-nav ul, .main-footer ul{
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-nav a, .main-footer a{
        color: inherit;
        text-decoration: none;
        padding: 1rem;
}

.main-nav a:hover, .main-footer a:hover, .brand-logo:hover{
    text-decoration: none;
    color: #adadad;
} 

.main-header, .main-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main-header{
    height:140px;
}

.main-footer{
    height: 70px;
    background-color: #202027;
}


.main-footer .container{
    display: flex;
    justify-content: space-between;
}

.container {
    max-width: 100%;
    /* margin: 0 auto; */
    padding: 0 40px;
    flex-grow: 1;
} 

.title {
    font-weight: 500;
    font-size: 3em;
    margin-bottom: 1rem;
    margin-top: 0;
  }
  
.subtitle {
    font-weight: 500;
    font-size: 1.2em;
    margin-bottom: 2rem;
  }
  
.btn {
    color: white;
    background-color: rgb(86, 90, 101);
    padding: .75rem 1.5rem;
    border-radius: .5rem;
    text-decoration: none;
    font-size: .9rem;
    outline: none;
    border: none;
    cursor: pointer;
  }
.add-btn {
    color: white;
    background-color: rgb(86, 90, 101);
    padding: .5rem .75rem;
    border-radius: .5rem;
    text-decoration: none;
    font-size: .9rem;
    outline: none;
    border: none;
    cursor: pointer;
}

@media (max-width: 687px) {
    .add-btn {
        padding: .3rem .75rem;
      }
}
@media (max-width: 500px) {
    .title {
        font-size: 2em;
      }
      .subtitle {
        font-size: 1em;
      }
}
  
.btn:hover {
    background-color: #2180d8;
  }
  
.btn:focus {
    background-color: #2796ff;
  }

.GenrePick input, .MusicList input{
    visibility: hidden; 
    display:none;
}
/* continue disabled button style  */
#continue, #playlistAdd {
    background-color: #696a70;
    color: #525357;
    margin-bottom: 1rem;
  }

.GenreList label{
    background-color: rgb(23, 98, 167);
    width:80%;
    display:inline-block;

    opacity:1;
    transition : all .3s;
    -webkit-transition : all .3s;
    -moz-transition : all .3s;
}

.GenrePick{
    width: 40%;
    margin: 0 auto;
    border-radius: 2rem;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #2E3852;
}

@media (max-width: 800px) {
    .GenrePick{
        width: 50%;
        }
}

@media (max-width: 650px) {
.GenrePick{
    width: 55%;
    }
}
@media (max-width: 597px) {
.GenrePick{
    width: 60%;
    top: 64%;
    }
}
@media (max-width: 634px) {
.footer-icon-text{
    display: none;
    }
}
@media (max-width: 715px) {
.header-icon-text{
    display: none;
    }
}

@media (max-width: 520px) {
.GenrePick{
    width: 70%;
    }
}

@media (max-width: 420px) {
.GenrePick{
    width: 80%;
    }
}

@media (max-width: 400px) {
.GenrePick{
    width: 90%;
    }
}
.GenrePick ul, .GenrePick .buttons{
    text-align: center;
    padding-left: 0px;
}

.GenreList{
    margin-top: 1rem;
}

.Welcome-text{
    text-align: center;
}

@media (max-width: 490px) {
    .Welcome-text{
        font-size: 17px;
    }
}
@media (max-width: 430px) {
    .Welcome-text{
        font-size: 15px;
    }
}

.Welcome-text .user{
    color:#4752bd;
    text-transform: capitalize;
}

/* explore and playlist page styling */

/* explore and playlist table width */
.Explorerr, .Explorerrr{
    width:110%
}

/* playlist table queries */

@media (max-width: 1084px) {
    .Explorerr, .Explorerrr{
        width:105%
    }
}
@media (max-width: 967px) {
    .Explorerr, .Explorerrr{
        width:100%
    }
}
@media (max-width: 850px) {
    .Explorerr, .Explorerrr{
        width:95%
    }
}
@media (max-width: 780px) {
    .Explorerr, .Explorerrr{
        font-size:smaller;
    }
}
@media (max-width: 687px) {
    .Explorerr, .Explorerrr{
        font-size:small;
    }
    .Explorerr th, .Explorerrr th{
        font-size:large;
    }
}
@media (max-width: 614px) {
    .Explorerr, .Explorerrr{
        font-size:x-small;
    }
}
@media (max-width: 500px) {
    .Explorerr, .Explorerrr{
        font-size:xx-small;
    }
}
@media (max-width: 514px) {
    .container{
        padding:revert;
    }
}
.Explorerr td, .Explorerrr td{
    text-align:left;
    white-space:nowrap
}

.Explorerr th, .Explorerrr th{
    text-align:left;
    color: #878bb5 !important;
}

.MusicList {
    text-align: center !important;
}

/* fontawesome color */
.MusicList .fa-plus:before{
    color: #878bb5 !important
}

table{
    border-spacing:15px;
}
@media (max-width: 436px) {
    table{
        border-spacing:10px;
    }
    .Explorerr th, .Explorerrr th{
        font-size:small;
    }
}

@media (max-width: 400px) {
    .brand-logo-name{
        margin-left: unset;
    }
    .brand-logo{
        font-size: 0.9em;
    }
}

/* profile page styling */
.profile_content{
    width: 100%;
}
/* Profile */

.profile-form{
    margin: 0 150px;
}
.profile-buttons{
    text-align: center;
}
.profile-buttons a{
    padding: .65rem 1.75rem;
}

.profile-form a{
    color: #787ebf;
}

.profile-form .btn{
    color: #e2e1e6 !important;
}

.profile-form #div_id_avatar{
    margin-top: 5px;
    margin-bottom: 20px;
}

#div_id_bio{
    margin-bottom: 0 !important;
}
/* #div_id_avatar div{
    margin-top: 5px !important;
} */

@media (max-width: 1035px) {
    .profile-form{
        margin: 0 100px;
    }
}
@media (max-width: 620px) {
    .profile-form{
        margin: 0 30px;
    }
}
@media (max-width: 500px) {
    .profile-form{
        font-size: small;
    }
    .profile-buttons{
        margin-top: 50px;
    }
}

@media (max-width: 430px) {
    .profile-form {
    margin: 0 30px;
    }
}
@media (max-width: 399px) {
    .profile-form {
    margin: 0 20px;
    }
}
@media (max-width: 379px) {
    .profile-form {
    margin: 0 15px;
    }
}

/* alert */
/* The alert message box */
.alert{
    margin-right: auto;
    padding: 20px;
    margin-bottom: 30px;
    text-align: center;
    margin-left: auto; 
    width: 50%;
  }

.alert-profile{
    text-align: center;
}
.alert ul{
    padding-left:0 !important;
}

/* User Avatar */
.profile-form .form-control {
    width: 100%;
}

.avatar-big {
    height: 110px;
    width: 110px;
    border-radius: 50%;
}

@media (max-width: 475px)  {
    .avatar-big {
        height: 90px;
        width: 90px;
    }
}
.text-center{
    text-align: center;
}
.play:visited, .play {
    color: #ffffff;
}
