{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <!-- styling -->
     <style>
        .home-main-section .lady-image {
            background-image: url("{% static 'landing-page-girl.png' %}");
        }
      </style>
    <!-- styling -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
     <!-- js -->
    <script src="{% static 'pick_genre.js' %}" defer></script> 


    <title>Soundwave</title>
</head>

<body class="genre-body">

    <div class="Welcome-text">
      <h1> Welcome to  Soundwave, <span class="user">{{ user }}</span> </h1>
      <!-- <h3>Let us help you tailor your music experience</h3> -->
      <h3> Pick three(3) genres to tailor your music experience</h3>
    </div>
   
    <form action="" method="post" class="GenrePick">
        {% csrf_token %} <!-- csrf token for security -->
        
          <ul class="GenresList"> 
            {% for pickgenre in genres %}
              <li class="GenreList">
                <input type="checkbox" class="taskCheckbox" name="genre_select" id="{{ pickgenre }}" value="{{ pickgenre.id }}">
                <label id="{{ pickgenre }}1" class="btn btn-secondary label-btn" for="{{ pickgenre }}"> {{ pickgenre }} </label>
              </li>    
            {% endfor %}
          </ul> <!--end Genre-List -->

          <div class="buttons">
             <button id ="continue" class="taskAdd btn" name="genreSelected" type="submit" disabled><i class="fa fa-plus icon"></i>Continue</button>
          </div> 
    </form>

</body>
</html>
