{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
     <!-- styling -->
     <style>
        .home-main-section .lady-image {
            background-image: url("{% static 'landing-page-girl.png' %}");
        }
      </style>
    <!-- styling -->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
   

    <title>Soundwave</title>
</head>
<body class="container full-height-container index-body">

    <header class="main-header">
        <a href="{% url 'home' %}" class="brand-logo">
        <img src="{% static 'logo.svg' %}" alt="">
        <div class="brand-logo-name">Soundwave</div>
        </a>
        <nav class="main-nav">
            <ul>
                <li>
                  <a href="{% url 'discover' %}"> <i class="fa fa-globe"></i> <span class="header-icon-text"> Discover </span> </a>
              </li>
                <li>
                  <a href="{% url 'playlist' %}"> <i class="fa fa-music"></i> <span class="header-icon-text"> Playlist </span> </a>
                </li>
                {% if user.is_authenticated %} 
                  <li>
                    <a href="{% url 'logout' %}"><i class="fa fa-sign-out"></i> <span class="header-icon-text"> Logout </span></a>
                  </li>  
                {%else%}
                  <li>
                    <a href="{% url 'login' %}"><i class="fa fa-sign-in"></i> <span class="header-icon-text"> Login </span></a>
                  </li>  
                {% endif %}  
            </ul>
        </nav>
    </header>

    <section class="home-main-section">
            <div class="img-wrapper">
              <div class="lady-image"></div>
            </div>
            <div class="call-to-action">
              <h1 class="title">Feel The Music</h1>
              <span class="subtitle">Stream over 20 thousand songs with one click</span>
              {% if user.is_authenticated %} 
                <div class="join-btn">
                  <a href="{% url 'playlist' %}" class="btn">Playlist </a>
                </div> 
              {% else %}
                <div class="join-btn">
                  <a href="{% url 'register' %}" class="btn">Join Now</a>
                </div>  
              {% endif %}  
            </div>
    </section>

    <div class="home-page-circle-1"></div>
    <div class="home-page-circle-2"></div>
    <div class="home-page-circle-4"></div>

</body>
</html>
