{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/discover.css' %}">
    <title>Soundwave-Discover</title>
</head>
<body class="full-height-container">
    <div class="container full-height-container">
        <header class="main-header">
            <a href="{% url 'home' %}" class="brand-logo">
            <img src="{% static 'logo.svg' %}" alt="">
            <div class="brand-logo-name">Soundwave</div>
            </a>
            <nav class="main-nav">
                <ul>
                    <li>
                        <a href="{% url 'discover' %}">Discover</a>
                    </li>
                    <li>
                        <a href="{% url 'register' %}">Join</a>
                    </li>
                    <li>
                      <a href="{% url 'login' %}">Login</a>
                    </li>
                </ul>
            </nav>
        </header>
        <section class="discover-main-section">
            <div class="call-to-action">
              <h1 class="title">Discover new music</h1>
              <div class="icon-section">
                <div class="icon">
                  <img src="{% static 'microphone.svg' %}">
                  Charts
                </div>
                <div class="icon">
                  <img src="{% static 'albums.svg' %}">
                  Albums
                </div>
                <div class="icon">
                  <img src="{% static 'more.svg' %}">
                  More
                </div>
              </div>
              By joining you can benefit by listening to the latest albums released.
              <div class="input-group">
                <a href="{% url 'explore' %}" class="btn">Explore</a>
              </div>
            </div>
            <img class="covers-image" src="{% static 'covers.jpg' %}">
          </section>
    </div>
    <footer class="main-footer">
        <div class="container">
          <nav class="footer-nav">
            <ul>
              <li><a href="#">About Us</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </nav>
          <nav class="footer-nav">
            <ul>
              <li>
                <a href="#" class="social-link">
                  <img src="{% static 'twitter.svg' %}">
                  Twitter
                </a>
              </li>
              <li>
                <a href="#" class="social-link">
                  <img src="{% static 'facebook.svg' %}">
                  Facebook
                </a>
              </li>
            </ul>
          </nav>
        </div>
    </footer>
    
</body>
</html>
