{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- styling -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
    <title>Explore</title>

</head>

<body>
    <h1> LETS EXPLORE</h1>

    <form action="" method="post" class="GenrePick"></form>
        <ul class=""> 
            {% for explorer in explore %}
                <li class="currentTaskItem">
                    <span>{{ explorer }}</span>
                    <button class=" " name="taskDelete" formnovalidate="" type="submit" ><i class="fa fa-plus icon"></i></button>    
                </li>  
            {% endfor %}
        </ul> <!--end Music-List -->
        <div class="buttons">
            <button id ="continue" class="taskAdd btn" name="genreSelected" type="submit" disabled><i class="fa fa-plus icon"></i>Add to playlist</button>
        </div> 
    </form>

</body>
</html>
