{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- styling -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
    <!-- js -->
    <script src="{% static 'pick_music.js' %}" defer></script>

    <title>Explore</title>

</head>

<body>
    <div class="container full-height-container">
        <header class="main-header">
            <a href="{% url 'home' %}" class="brand-logo">
            <img src="{% static 'logo.svg' %}" alt="">
            <div class="brand-logo-name">Soundwave</div>
            </a>
            <nav class="main-nav">
                <ul>
                  <li>
                    <a href="{% url 'playlist' %}">Playlist</a>
                </li>
                <li>
                    <a href="{% url 'profile' %}">Profile</a>
                </li>  
                <li>
                    <a href="{% url 'logout' %}">Logout</a>
                </li>                   
                </ul>
            </nav>
        </header>
        <section class="explore-main-section">
            <div class="Welcome-text">
                <h1>EXPLORE</h1>
            </div>
        
            <form action="" method="post" class="Explore" enctype="multipart/form-data">
                {% csrf_token %} <!-- csrf token for security -->
                <table class="Explorerr">
                    <tr>
                      <th>Name</th>
                      <th><i class="fa fa-plus icon"></i></th>
                      <th>Time</th>
                      <th>Artist</th>
                      <th>Genre</th>
                    </tr>
                    {% for explorer in explore %}
                    <tr>
                      <td>{{explorer.song}}</td>
                      <td class="MusicList">
                        <input type="checkbox" class="taskCheckbox" name="music_select" id="{{ explorer }}" value="{{ explorer.id }}" >
                        <label class="btn btn-secondary" for="{{ explorer }}" onclick="musicAdded.call(this)"> <i class="fa fa-plus icon"></i> </label>   
                      </td>
                      <td >{{explorer.time}}</td>
                      <td >{{explorer.artist}}</td>
                      <td >{{explorer.genre}}</td>
                    </tr>
                    {% endfor %}
                  </table> <!--end Music-List -->

                <div class="buttons">
                    <button id ="playlistAdd" class=" btn" name="music_selected" type="submit" disabled><i class="fa fa-plus icon"></i>Add to playlist</button>
                </div> 
            </form>

          </section>
    </div>
</body>
</html>
