{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- styling -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
    <!-- js -->
    <script src="{% static 'pick_music.js' %}" defer></script>

    <title>Explore</title>

</head>

<body>
    <div class="container full-height-container">
        <header class="main-header">
            <a href="{% url 'home' %}" class="brand-logo">
            <img src="{% static 'logo.svg' %}" alt="">
            <div class="brand-logo-name">Soundwave</div>
            </a>
            <nav class="main-nav">
                <ul>
                  <li>
                    <a href="{% url 'playlist' %}"> <i class="fa fa-music"></i> <span class="header-icon-text"> Playlist </span> </a>
                </li>
                <li>
                    <a href="{% url 'profile' %}"> <i class="fa fa-user"></i> <span class="header-icon-text"> Profile </span></a>
                </li>  
                <li>
                    <a href="{% url 'logout' %}"><i class="fa fa-sign-out"></i> <span class="header-icon-text"> Logout </span></a>
                </li>                   
                </ul>
            </nav>
        </header>
        <section class="explore-main-section">
            <div class="Welcome-text">
                <h1>EXPLORE</h1>
            </div>
        
            <form action="" method="post" class="Explore" enctype="multipart/form-data">
                {% csrf_token %} <!-- csrf token for security -->
                <table class="Explorerr">
                    <tr>
                      <th>Name</th>
                      <th class="MusicList"><i class="fa fa-plus icon"></i></th>
                      <th>Time</th>
                      <th>Artist</th>
                      <th>Genre</th>
                    </tr>
                    {% for explorer in explore %}
                    <tr>
                      <td>{{explorer.song}}</td>
                      <td class="MusicList">
                        <input type="checkbox" class="taskCheckbox" name="music_select" id="{{ explorer }}" value="{{ explorer.id }}" >
                        <label class="btn-secondary add-btn" for="{{ explorer }}" onclick="musicAdded.call(this)"> <i class="fa fa-plus icon"></i> </label>   
                      </td>
                      <td >{{explorer.time}}</td>
                      <td >{{explorer.artist}}</td>
                      <td >{{explorer.genre}}</td>
                    </tr>
                    {% endfor %}
                  </table> <!--end Music-List -->

                <div class="buttons">
                    <button id ="playlistAdd" class=" btn" name="music_selected" type="submit" disabled><i class="fa fa-plus icon"></i>Add to playlist</button>
                </div> 
            </form>
        </section>
    </div>

    <div class="home-page-circle-1"></div>
    <div class="home-page-circle-2"></div>
    <div class="home-page-circle-4"></div>

    <footer class="main-footer">
      <div class="container">
        <nav class="footer-nav">
          <ul>
            <li><a href="{% url 'discover' %}"> <i class="fa fa-info-circle"></i><span class="footer-icon-text"> About Us </span> </a>
            </li>
            <li><a href="https://www.linkedin.com/in/faruq-abdulsalam-b2847b160/" class="social-link"><i class="fa fa-linkedin-square"></i> <span class="footer-icon-text"> Contact</span> </a>
            </li>
          </ul>
        </nav>
        <nav class="footer-nav">
          <ul>
            <li>
              <a href="https://twitter.com/_Ace_II/"><i class="fa fa-twitter"></i><span class="footer-icon-text">Twitter</span>  </a>
            </li>
            <li>
              <a href="https://www.instagram.com/faruq.t/"><i class="fa fa-instagram"></i> <span class="footer-icon-text">Instagram</span></a>
            </li>
          </ul>
        </nav>
      </div>
  </footer>
</body>
</html>
