{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- styling -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
    <title>Playlist</title>

</head>

<body class="full-height-container">
    <div class="container full-height-container">
        <header class="main-header">
            <a href="{% url 'home' %}" class="brand-logo">
            <img src="{% static 'logo.svg' %}" alt="">
            <div class="brand-logo-name">Soundwave</div>
            </a>
            <nav class="main-nav">
                <ul>
                    <li>
                        <a href="{% url 'explore' %}">Explore</a>
                    </li>
                    <li>
                        <a href="{% url 'profile' %}">Profile</a>
                    </li>
                    <li>
                      <a href="{% url 'logout' %}">Logout</a>
                    </li>
                </ul>
            </nav>
        </header>
 
        <section class="explore-main-section">
            <div class="Welcome-text">
                <h1>Your playlist</h1>
            </div>
        
            <table class="Explorerrr">
                <tr>
                      <th>Name</th>
                      <th>Time</th>
                      <th>Artist</th>
                      <th>Genre</th>
                </tr>
              {% for songs in your_playlist.all %}
                <tr>
                      <td>{{songs.song}}</td>
                      <td >{{songs.time}}</td>
                      <td >{{songs.artist}}</td>
                      <td >{{songs.genre}}</td>
                </tr>
              {% endfor %}
            </table> <!--end Play-List -->
    
          </section>
    </div>
    <footer class="main-footer">
        <div class="container">
          <nav class="footer-nav">
            <ul>
              <li><a href="#">About Us</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </nav>
          <nav class="footer-nav">
            <ul>
              <li>
                <a href="#" class="social-link">
                  <img src="{% static 'twitter.svg' %}">
                  Twitter
                </a>
              </li>
              <li>
                <a href="#" class="social-link">
                  <img src="{% static 'facebook.svg' %}">
                  Facebook
                </a>
              </li>
            </ul>
          </nav>
        </div>
    </footer>
    
</body>

</html>
