{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- styling -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
    <title>Profile</title>
</head>
<body class="full-height-container">

    <div class="container full-height-container">
        <header class="main-header">
            <a href="{% url 'home' %}" class="brand-logo">
            <img src="{% static 'logo.svg' %}" alt="">
            <div class="brand-logo-name">Soundwave</div>
            </a>
            <nav class="main-nav">
                <ul>
                  <li>
                    <a href="{% url 'explore' %}"> <i class="fa fa-globe"></i> <span class="header-icon-text"> Explore </span> </a>
                </li>
                <li>
                    <a href="{% url 'playlist' %}"> <i class="fa fa-music"></i> <span class="header-icon-text"> Playlist </span></a>
                </li>  
                <li>
                    <a href="{% url 'logout' %}"><i class="fa fa-sign-out"></i> <span class="header-icon-text"> Logout </span></a>
                </li>                   
                </ul>
            </nav>
        </header>
            <div class=profile_content>
                {% if confirm %}
                    <div class="alert-profile">
                    <div class="alert alert-primary" role="alert">
                        <span class="closebtns" onclick="this.parentElement.style.display='none';">&times;</span>Your profile has been updated
                    </div>
                    </div>
                {% endif %}
            
                <div class="text-center">
                <img src="{{profile.avatar.url}}" alt="my-profile" class="avatar-big">
                </div>
            
                <br>
                <form class= "profile-form" action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{form|crispy}}
                    <div class="profile-buttons">
                        <button type="submit" class="btn btn-primary mt-3">Update</button>
                        <a href="{% url 'playlist' %}" class="btn btn-primary mt-3"> Exit </a>
                    </div>
                </form> 
            </div>
    </div>
    
    <div class="home-page-circle-1"></div>
    <div class="home-page-circle-2"></div>
    <div class="home-page-circle-3"></div>

    <footer class="main-footer">
        <div class="container">
          <nav class="footer-nav">
            <ul>
              <li><a href="{% url 'discover' %}"> <i class="fa fa-info-circle"></i><span class="footer-icon-text"> About Us </span> </a>
              </li>
              <li><a href="https://www.linkedin.com/in/faruq-abdulsalam-b2847b160/" class="social-link"><i class="fa fa-linkedin-square"></i> <span class="footer-icon-text"> Contact</span> </a>
              </li>
            </ul>
          </nav>
          <nav class="footer-nav">
            <ul>
              <li>
                <a href="https://twitter.com/_Ace_II/"><i class="fa fa-twitter"></i><span class="footer-icon-text">Twitter</span>  </a>
              </li>
              <li>
                <a href="https://www.instagram.com/faruq.t/"><i class="fa fa-instagram"></i> <span class="footer-icon-text">Instagram</span></a>
              </li>
            </ul>
          </nav>
        </div>
    </footer>
</body>
</html>

